body {
    font-family: Consolas;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div {
    display: flex;
}

#headingContainer {
    align-items: center;
    column-gap: 60px;
    display: flex;
    flex-direction: row;
}

#logo {
    zoom: 0.5;
}

#versionText {
    align-items: center;
    color: #8db8d7;
    flex-direction: column;
    height: 128px;
    justify-content: space-around;
    margin-left: 15px;
}

#fileList {
    background-color: #080621;
    color: #d3d3d3;
    flex-direction: column;
    height: 100vh;
    overflow-y: auto;
    width: 100vw;
}

.fileName {
    line-height: 180%;
}

.addAll {
    transition: 500ms;

    background-color: #080621;
    border: 1px solid #0b4e6f;
    border-radius: 8px;
    margin-left: 10px;
    padding: 10px;
    width: 150px;
}
.addAll:hover {
    background: linear-gradient(90deg, rgba(0,26,36,1) 0%, rgba(0,93,93,1) 50%, rgba(0,26,36,1) 100%);
    border: 1px solid #8db8d7;
}

.clickable {
    cursor: pointer;
}

.currentStatus {
    align-items: center;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    height: 20px;
    left: 4px;
    position: relative;
    top: 8px;
    width: 24px;
}
.cSNone {
    background-color: #666666;
    border: 2px solid #969696;
}

.cSMid {
    transition: 1s;
    background-color: #666666;
    border: 2px solid #00f90d;
}

@keyframes cSMidFlash {
    0%   { background-color: #666666 }
    50%  { background-color: #ff8800 }
    100% { background-color: #666666 }
}
.cSMidFlash {
    animation-name: cSMidFlash;
    animation-duration: 2s;
    animation-iteration-count: infinite;

    background-color: #666666;
}

.cSComplete {
    background-color: #0d6f12;
    border: 2px solid #75ff7c;
}

.folderContainer {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.folderLine {
    border: 1px solid #0b4e6f;
    background-color: #0c2d45;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 2px 5px;
}
.folder {

}
.folderName {
    padding: 10px;
    width: 100%;
}

.hidden {
    display: none;
}

.trackList {
    cursor: pointer;
    flex-direction: column;
    margin-left: 30px;
}

.trackPlaying {
    color: #00ff00;
    font-weight: bold;
}

.trackHighlighted {
    color: #ffffff;
}

.trackListHighlight {
    color: yellow;
}




/* PLAYLIST */
#playList{
    color: #8db8d7;
    flex-direction: column;
    margin: 10px;
    min-height:200px;
    overflow-y: auto;
    width: 100%;
}

.playing {
    color: yellow;
}

.pLhighlighted {
    color: white;
}

.playlistEntry {
    padding: 10px 5px 0px 5px;
}
/* ******** */





/* PLAYER */
audio {
    scale: 0.8;
}

#canvasContainer {
    
}

#controls {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

#counterContainer {
    width: 28px;
}

#countInt {
    color: white;
    left: -20px;
    top: 3px;
    font-size: 12px;
    position: relative;
}

#currentTrackAndTime {
    color: white;
    font-weight: bold;
    padding: 10px 0px 20px 20px;
}

#hidePlayer, .fa-display {
    color: white;
    cursor: pointer;
    zoom: 1.5;
}

#othersBar {
    align-items: center;
    justify-content: space-evenly;
    width: 150px;
}

#playerContainer {
    transition: 1s;

    background-color: rgba(0,0,0,0.1);
    border: 2px solid #0c2d45;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    position: fixed;
    right: 12px;
    top: 0;
    width: 600px;
}

#playerContainer:hover {
    background-color: rgba(8,6,33,0.95);
    border: 2px solid #0b4e6f;
}

.playerButton {
    font-family: Roboto;
    align-items: center;
    background-color: #8db8d7;
    border: 1px solid #0b4e6f;
    border-radius: 10px;
    box-shadow: none;
    cursor: pointer;
    height: 40px;
    justify-content: center;
    width: 50px;
}

.playerButton:hover {
    box-shadow: 0px 0px 0px 2px #4CA5FF;
    scale: 1.1;
}

#positionBarContainer {
    align-items: center;
    background-color: #0C2D45;
    border: 1px solid #8DB8D7;
    border-radius: 5px;
    display: flex;
    height: 30px;
    margin-top: 10px;
    width: 590px;
}
#positionBar {
    background-color: #8DB8D7;
    color: white;
    height: 20px;
    margin-left: 5px;
    overflow: hidden;
    text-overflow: clip;
    width: 580px;
}

#saveIcon {
    zoom: 0.4;
}

/* The animation code */
@keyframes flashIcon {
    0%   { opacity: 1 }
    25%  { opacity: 0 }
    50%  { opacity: 1 }
    75%  { opacity: 0 }
    100% { opacity: 1 }
}
  
  /* The element to apply the animation to */
.saveIconFlash {
    animation-name: flashIcon;
    animation-duration: 1s;

    opacity: 1;
}

#showPlayer {
    background-color: #0C2D45;
    border: 2px solid #0b4e6f;
    border-radius: 5px 5px 0 0;
    color: #8db8d7;
    cursor: pointer;
    font-weight: bold;
    justify-content: center;
    padding: 5px;
    position: fixed;
    right: -32px;
    text-align: center;
    top: 36px;
    transform: rotate(270deg);
    width: 100px;
}

#visCanvas {
    height: 22px;
    width: 128px;
}

#volumeLabel {
    color: white;
    font-weight: bold;
    margin-left: 20px;
}

#volumeSliderContainer {
    justify-content: space-between;
    padding: 10px 0px 20px 10px;
}
/* ********************* */




/*
    *********************
    * Playing Container *
    *********************
*/
#playingContainer {
    background-color: #0a141a;
    column-count: 2;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;

    z-index: 5;
}
#audioDetail {
    font-size: 12px !important; /* this is an override */
}

#bookImageContainer {
    align-items: center;
    justify-content: center;
    width: 40vw;
}

#bookImage {
    width: 75%;
}

#currentPositionContainer {
    background-color: rgba(0,0,0,0.7);
    bottom: 0;
    height: 50px;
    left: 0;
    position: fixed;
    width: 100vw;

    z-index: 10;
}
#currentPosition {
    background-color: #0b4e6f;
    color: white;
    display: block;
    margin: 5px;
    overflow: hidden;
    padding-left: 15px;
    padding-top: 10px;
    text-overflow: clip;
    text-wrap: nowrap;
    width: 0%;
    align-items: center;
}

#currentTrackData  {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 60vw;
}
#currentTrackData > div {
    background-color: #000000;
    border: 1px solid #555555;
    color: #8db8d7;
    font-size: 24px;
    margin-bottom: 20px;
    padding: 10px;
    width: 90%;
}
/* ******************** */



/*
    ********************
    * Volume Container *
    ********************
*/
#volumeContainer {
    align-items: center;
    background-color: rgba(0,0,0,0.85);
    border-radius: 10px;
    border: 1px solid #8DB8D7;
    flex-direction: column;
    padding: 10px 20px;
    position: fixed;
    right: 30px;
    top: 20px;

    z-index: 10;
}

.muted {
    filter: sepia(100%) saturate(100%) brightness(100%) hue-rotate(0deg);
}

.unmuted {
    filter: sepia(100%) saturate(100%) brightness(100%) hue-rotate(90deg);
}

#volumeInteger {
    font-size: 64px;
    color: #30ff30;
}
/* ********************************* */


/* SPINNER */
#spinner {
    transition: 250ms;

    border: 2px solid white;
    height: 16px;
    transform: rotate(0deg);
    width: 16px;
}

.rotated {
    border: 2px solid #8DB8D7 !important;
    background-color: #0b4e6f;
}
/* ******* */


/* Loading Screen */
#loadingScreen {
    transition: 2s;

    background-color: #0c2d45;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    z-index: 999; /* this will ALWAYS be the highest index */
}

.l_hide {
    top: 1300px !important;
}

#l_logo {

}

#l_version{
    align-items: center;
    color: #0b4e6f;
    flex-direction: column;
    font-size: 24px;
}
/* ************** */



/* ** Recent ** */
.h_1 {
    clip-path: inset(0px 228px 0px   0px);
}
.h_2 {
    clip-path: inset(0px 167px 0px  51px);
}
.h_3 {
    clip-path: inset(0px 117px 0px 112px);
}
.h_4 {
    clip-path: inset(0px  51px 0px 161px);
}
.h_5 {
    clip-path: inset(0px  0px  0px 228px);
}

#recent {
    cursor: pointer;
}

#recents {
    background-color: #080621;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    width: 100vw;
    z-index: 30;
}

#recentListContainer {
    transition :1s;

    background-color: #080621;
    color: #8db8d7;
    flex-direction: column;
    height: 100vh;
    left: 0;
    overflow-y: auto;
    position: fixed;
    top: 0;
    transform: translate(0px, 100vh);
    width: 100vw;
    z-index: 30;
}

.rLCShow {
    transform: translate(0px, 0px) !important;
}

#recentsHeader {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.recentLine {
    background-color: #162c45;
    border: 1px solid #234c6e;
    justify-content: space-between;
    margin: 5px;
    padding: 10px 15px;
}

.rl_bookName {
    width: 50%;
}

.rl_currentTrack {
    width: 15%;
}
/* ************ */